{% extends 'base.html.twig' %}

{% block title %}Tu veux rencpntrer des sans amis près de chez toi ?
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">3iL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="login">Se connecter<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="register">S'inscrire<span class="sr-only">(current)</span></a>
</li>

</ul>
<form class="form-inline my-3 my-lg-0">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher un profil</button>
</form>
</div>
</nav>  
<div class="container">
</div>
</div>

{% endblock %}